# Boston Dataset Analysis Made by Dev Shinde

In [12]:
# Hello sir today I am going to analyze boston dataset

In [13]:
# First we are going to import libraries

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
# Then we will read the file

In [16]:
data = 'bostonDataset.csv.xlsx'
df = pd.read_excel(data)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
# After that we will check the description to check out what the data is about and what is the target

In [18]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing()
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [19]:
# We got to know about the features and the target label in the dataset

In [20]:
data = pd.DataFrame(data.data, columns=data.feature_names)
data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [21]:
# We will now add target as the new column

In [22]:
data['MedHouseVal'] = fetch_california_housing().target
data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [28]:
# Here we have trained the model with features and lables
# With X as features 
# and Y as lables

In [23]:
from sklearn.model_selection import train_test_split
x = data.drop('MedHouseVal', axis=1)
y = data['MedHouseVal']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
y_pred
print('Coefficients: \n', regressor.coef_)

Coefficients:
 [ 4.38460858e-01  9.20621570e-03 -1.11819062e-01  6.26964406e-01
 -3.96290956e-06 -4.07696748e-03 -4.13445407e-01 -4.26412469e-01]
Mean squared error: 0.54
Variance score: 0.60

In [ ]:
# Here we will get the mean square error

In [25]:
print("Mean squared error: %.2f"
        % np.mean((y_pred - y_test) ** 2))

Mean squared error: 0.54

In [ ]:
# Variance Score

In [27]:
print('Variance score: %.2f' % regressor.score(X_test, y_test))

Variance score: 0.60

In [ ]:
# Accuray (R^2 score) as

In [30]:
from sklearn.metrics import r2_score
print('R^2 score: %.2f' % r2_score(y_test, y_pred))

regressor.intercept_

R^2 score: 0.60

-36.21304212215257

In [ ]:
# Now we will import Lasso and RIDGE Libraries

In [31]:
from sklearn.linear_model import Ridge,RidgeCV,Lasso

In [36]:
ridge = Ridge(alpha=0.1,max_iter=100)
ridge.fit(X_train,y_train)

Ridge(alpha=0.1, max_iter=100)

In [ ]:
# After training and testing the model we will get the score ridge score

In [37]:
print(ridge.score(X_train, y_train))

0.6078260219874654

In [38]:
print(ridge.score(X_test, y_test))

0.5983052953926276

In [33]:
lasso = Lasso(alpha=0.001)
lasso.fit(X_train,y_train)
print ("Lasso model:", (lasso.coef_))
print("intercept:",lasso.intercept_)

Lasso model: [ 4.34758280e-01  9.28228817e-03 -1.04612055e-01  5.90341198e-01
 -3.58501710e-06 -4.05676822e-03 -4.12304156e-01 -4.24716118e-01]
intercept: -36.03828975358114

In [ ]:
# After training and testing the model we will get the score lasso score

In [34]:
print(lasso.score(X_train, y_train))

0.6077881476983582

In [40]:
print(lasso.score(X_test, y_test))

0.5981223043938521